@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Short+Stack');

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

hr {
  max-width: 50vh;
  border-width: 3px;
  border-color: #004B91;
}

.btn-round {
  border: none;
  border-radius: 300px;
}

.btn-xl {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-toggler {
  text-align: center;
}

.navbar-brand {
  padding-left: 20px;
}

@media (max-width: 500px) {
  .navbar-brand {
    padding-left: 0px;
  }
}

.navbar-brand img {
  width: 220px;
  height: 80px;
}

.navbar .navbar-nav {
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

a.nav-link:hover {
  font-weight: bolder;
}

.dropdown-menu a {
  text-align: center;
}

.navbar-toggler {
  border: none;
}

@media (min-width: 1000px) {
  .navbar-nav a {
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .navbar-nav a {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  #search-icon-sm {
    display: none;
  }
}

@media (max-width: 1200px) {
  #search-icon-lg {
    display: none;
  }
}

button[aria-expanded=true] .fa-bars {
  display: none;
}
button[aria-expanded=false] .fa-chevron-up {
  display: none;
}

.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../sample1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  height: 80vh;
}

.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#welcome h1 {
  font-weight: bold;
}

@media (min-width: 1000px) {
  .masthead {
    height: 90vh;
  }
}

.special-font {
  font-family: 'Fredoka One', cursive;
  color: #004b91;
  text-transform: uppercase;
}

img.ecp-img {
  content: url(../sample2.jpg);
}

img.asp-img {
  content: url(../sample3.jpg);
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 1200px) {
.card-text, .card-footer {
  font-size: 1.6rem;
  }
}

@media (min-width: 1000px) {
  .card-container {
    max-width: 70vw;
    margin: auto;
  }
}

.secondary-title {
  font-family: 'Short Stack', cursive;
  color: #000000;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 10px;
}

.bg-color-darkblue {
  background-color: #004b91;
}

@media (max-width: 600px) {
  .call-to-action {
    padding: 2rem;
  }
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

@media (max-width: 450px) {
  #cal-badge {
    font-size: 1.8rem;
  }
  #cal-badge-text {
    font-size: 1.5rem;
  }
}

.footer {
  padding: 2rem;
}

#footer-logo {
  max-width: 140px;
}

@media (min-width: 1600px) {
  #footer-container {
    max-width: 70vw;
  }
}

.main-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.fill-screen {
  flex: 1 1 auto;
}

.search-box {
  width: 100%;
  background-color: #ffffff;
  background-image: url(../search.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 1.8rem;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 12px;
  border: 2px solid black;
  border-radius: 10px;
}
