@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden
}

html, body {
  font-family: 'Poppins', sans-serif;
}

hr {
  max-width: 50vh;
  border-width: 3px;
  border-color: #004B91;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-toggler {
  text-align: center;
}

.navbar-brand {
  padding-left: 20px;
}

@media (max-width: 500px) {
  .navbar-brand {
    padding-left: 0px;
  }
}

.navbar-brand img {
  width: 220px;
  height: 80px;
}

.navbar .navbar-nav {
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

a.nav-link:hover {
  font-weight: bolder;
}

.dropdown-menu a {
  text-align: center;
}

.navbar-toggler {
  border: none;
}

@media (min-width: 1000px) {
  .navbar-nav a {
    margin-right: 10px;
  }
  #search-icon-sm {
    display: none;
  }
}

@media (max-width: 1000px) {
  .navbar-nav a {
    margin-bottom: 10px;
  }
  #search-icon-lg {
    display: none;
  }
}

button[aria-expanded=true] .fa-bars {
  display: none;
}
button[aria-expanded=false] .fa-chevron-up {
  display: none;
}

.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../sample1.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
}

.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#welcome h1 {
  font-weight: bold;
}

@media (min-width: 1000px) {
  .masthead {
    height: 60vh;
  }
}

.special-font {
  font-family: 'Fredoka One', cursive;
  color: #004B91;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .mb-5-on-mobile {
    margin-bottom: 10px;
  }
}

.showcase {
  background-color: #efefef;
}

.showcase .showcase-text {
  padding: 3rem;
  background-color: #ffffff;
}

.showcase .showcase-img {
  min-height: 20rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

#showcase-ecp {
  background-image: url(../sample2.jpg);
  background-position: center bottom;
}

#showcase-asp {
  background-image: url(../sample3.jpg);
}

.call-to-action {
  padding: 8rem;
  background-color: #0074DF;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.calendar a:hover {
  text-decoration: none;
}

.footer {
  padding: 2rem;
}